{% extends "layout.html" %}

{% block title %}
    Stock Lookup: Info
{% endblock %}

{% block main %}
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div id="tradingview_50428"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-{{stockSymbol}}/" rel="noopener" target="_blank"><span class="blue-text">{{stockSymbol}} Chart</span></a> by TradingView</div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
        new TradingView.widget({
          "width": 980,
          "height": 610,
          "symbol": "NASDAQ:{{stockSymbol}}",
          "interval": "240",
          "timezone": "Etc/UTC",
          "theme": "dark",
          "style": "2",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "withdateranges": true,
          "allow_symbol_change": true,
          "details": true,
          "hotlist": true,
          "calendar": true,
          "container_id": "tradingview_50428"
        });
      </script>
    </div>
    <!-- TradingView Widget END -->
{% endblock %}